[submodule "Packet-Tracer-Project-Labs"]
	path = Packet-Tracer-Project-Labs
	url = git@github.com:whosubashsubedii/Packet-Tracer-Project-Labs.git
[submodule "GNS3-Network-Projects"]
	path = GNS3-Network-Projects
	url = git@github.com:whosubashsubedii/GNS3-Network-Projects.git
[submodule "Network-Automation-Scripts"]
	path = Network-Automation-Scripts
	url = git@github.com:whosubashsubedii/Network-Automation-Scripts.git
[submodule "Mikrotik-Project-Labs"]
	path = Mikrotik-Project-Labs
	url = git@github.com:whosubashsubedii/Mikrotik-Project-Labs.git
